
.layout{
	margin: 0 auto;
	overflow: hidden;
	width: 7.5rem;position: relative;padding-bottom: 0.3rem;
}
.hpage1 .hds {
	background:url(../images/bg.png) no-repeat center/cover;padding: 0.46rem 0 0.34rem;
	border-radius: 0 0 0.3rem 0.3rem ;margin-bottom: 0.3rem;
}
.hpage1 .hds  .qiu{
	width: 5.94rem;
height: 5.94rem;
background: rgba(255,255,255,0.18);
border: 0.02rem solid rgba(255,255,255,0.5);
margin: 0 auto;border-radius: 50%;padding-top: 0.8rem;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.hpage1 .hds h3{
	font-size: 0.36rem;
	font-weight: 500;
	color: #242329;
	line-height: 0.5rem;text-align: center;
}
.hpage1 .hds h2{
	font-size: 0.88rem;
	color: #27168A;
	line-height: 1.08rem;text-align: center;margin: 0.5rem 0 0.4rem;font-family: 'bmdo';
}
.hpage1 .hds h6{
	font-size: 0.3rem;
	color: #27168A;
	line-height: 0.42rem;text-align: center;margin-top: 0.5rem;
}
.hpage1 .hds .b1{
	width: 3.2rem;
	line-height: 0.86rem;
	border-radius: 0.52rem;
	border: 0.02rem solid #27168A;font-size: 0.3rem;
color: #27168A;display: block;text-align: center;margin: 0 auto 0.24rem;
}
.hpage1 .hds .b1.on{
	background: #27168A;color: #fff;
}
.hpage1 .hds dl{
	display: flex;justify-content: space-between;align-items: center;padding: 0 0.2rem;text-align: center;margin-top: 0.4rem;
}
.hpage1 .hds dl.dls{
	flex-wrap: wrap;
}
.hpage1 .hds dl.dls dd{
	margin-bottom: 0.16rem;
}
.hpage1 .hds dd{
	padding: 0.22rem 0 0.18rem;background:url(../images/qms1.png) no-repeat center/contain;
border-radius: 0.2rem;width: 3.36rem;-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}
.hpage1 .hds dd h4{
	font-size: 0.26rem;
	font-weight: 400;
	color: #27168A;line-height: 1.7;
}
.hpage1 .hds dd h6{
	font-size: 0.4rem;
	font-weight: 600;
	color: #27168A;line-height: 1.7;margin-top: 0.1rem;
}
.hpage1 .hds p{
	font-size: 0.26rem;
	font-weight: 400;
	color: #242329;
	line-height: 0.36rem;padding: 0 0.26rem;margin-top: 0.24rem;
}
.hpage1 .bds{
	background: #F7FAFF;
	border-radius: 0.28rem;margin: 0 0.3rem;padding: 0.15rem 0.3rem 0.3rem;margin-bottom: 0.24rem;
}
.hpage1 .bds .dfsw{
	display: flex;justify-content: space-between;align-items: center;
}
.hpage1 .bds h4{
	font-size: 0.34rem;
	font-weight: 500;
	color: #27168A;
	line-height: 0.4rem;
}
.hpage1 .bds .btn{
	width: 1.36rem;
	line-height: 0.64rem;
	background: #27168A;
	border-radius: 0.5rem;font-size: 0.24rem;
font-weight: 600;
color: #fff;text-align: center;display: block;
}
.hpage1 .bds .txt{
	font-size: 0.28rem;
	font-weight: 400;
	color: #8E8C97;
	line-height: 0.4rem;margin-top: 0.16rem;
}
.hpage1 .bds .file{
	margin-top: 0.16rem;position: relative;width: 1.24rem;height: 1.24rem;
}
.hpage1 .bds .file .f1{
	position: absolute;
	left: 0;right: 0;
	top: 0;z-index: 2;bottom: 0;opacity: 0;width: 100%;height: 100%;display: block;
}
.hpage1 .bds .file .img{
	width: 100%;height: 100%;display: block;
}
.hpage1 .bds .file .img img{
	width: 100%;height: 100%;display: block;object-fit: cover;
}
